body {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

main {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
}
main img#logo {
    width: 20%;
}

main #entrar-texto {
    color: #fff;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

main div.container input#email{
    width: 100%;
    height: 48px;
    background-color: #383838;
}

main div.container input#email::placeholder {
    color: #a4a4a4;
}
main div.container input#password::placeholder {
    color: #a4a4a4;
}

main div.container input#password {
    width: 100%;
    height: 48px;
    background-color: #383838;
}

main div.container button#btnEntrar {
    width: 96%;
    height: 48px;
    color: #fff;
    background-color: #e50914;
}

main div.container div#lado-lado {
    display: flex;
    justify-content: space-around;
}

main div.container div#novo {
    display: flex;
}

main div.container div.form-check input.form-check-input {
    color: #000;
    border-radius: 2px !important;
}
main div.container div.form-check a p {
    color: #202020;
}

main div.container label#lembre{
    color: #a4a4a4;
}
main div.container #ajuda{
    color: #a4a4a4;
}

main div.container #novoAqui {
    color: #a4a4a4;
}

main div.container #assine {
    color: #fff;
}

main div.container #reCap {
    font-size: small;
    color: #a4a4a4;
}

main footer {
    background-color: #000;
}

main footer #telefone {
    color: #a4a4a4;
}
main footer #containers {
    font-size: small;
} 


main footer #containers a {
    color: #a4a4a4;
}

main footer #btnLanguage {
    height: 48px;
    background-color: #000000 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px !important;
}

main footer #language ul {
    background-color: #202020;
}

/* Começo do responsivo */

@media (min-width: 740px) {
    body {
        position: fixed;
        top: 0;
        left: 0;        
        height: 100vh;
        /* background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/76c10fc9-7ccd-4fbf-bc59-f16a468921ca/529648c5-e595-4746-af3f-fab3106e3146/BR-pt-20230529-popsignuptwoweeks-perspective_alpha_website_large.jpg); */
    }
    body main {
        background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/76c10fc9-7ccd-4fbf-bc59-f16a468921ca/529648c5-e595-4746-af3f-fab3106e3146/BR-pt-20230529-popsignuptwoweeks-perspective_alpha_website_large.jpg);
        height: 100vh;
        display: flex;
        background-size: contain;
        /* object-fit: contain; */
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    body main div.imgContainer {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    body main div.imgContainer img {
        width: 25% !important;
        margin: 2rem !important;
    }

    body main footer {
        width: 100%;
        background-color: #000000;
        opacity: 90%;
    }
    
    body main #mainContainer input#email {
        opacity: 100%;
    }

    body main #mainContainer input#password {
        opacity: 100%;
    }

    body main #mainContainer{
        padding: 3rem;
        max-width: 400px;
        background-color: #000000;
        opacity: 90%;
    }
    
    main footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    main footer #telefone {
        margin: 2rem !important;
    }

    main footer #containers {
        width: 100%;
        margin: 1.05rem !important;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    main footer #containers #container-1 {
        width: 25%;
    }
    main footer #containers #container-2 { 
        width: 100%;
    }
}