main {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
}
main img#logo {
    width: 20%;
}

main #entrar {
    color: #fff;
}

main div.container input.btn {
    color: #fff;
    background-color: #e50914;
}

main div.container div.form-check {
    display: flex;justify-content: space-around;
}

main div.container div.form-check input.form-check-input {
    color: #000;    
}
main div.container div.form-check a p {
    color: #202020;
    
}